.menu {
  border: var(--toolbar-border);
  border-bottom: 0;
  background-color: var(--toolbar-background-color);
  width: 200px;
}

.menu__title {
  padding: var(--toolbar-padding);
  font-family: var(--toolbar-font-family);
  border-bottom: var(--toolbar-border);
  font-size: 1rem;
  font-weight: 500;
}

.menu__children {
  padding: var(--toolbar-padding);

  & ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--toolbar-padding);
  }

  & li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--toolbar-font-family);
  }
}
