.button {
  all: unset;
  border-right: var(--toolbar-border);
  padding: 0 var(--toolbar-padding);
  background-color: var(--toolbar-background-color);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  min-height: var(--toolbar-height);
  font-family: var(--toolbar-font-family);
  line-height: 1rem;

  & > svg {
    height: 16px;
    width: 16px;
  }
}

.button__wrapper {
  position: relative;
}

.button__menu {
  position: absolute;
  bottom: calc(var(--toolbar-height) + 1px);
  left: 0;
}
